$default-col: #1698d9;
$hover-col: #2ea8e6;
$selected-col: #d91667;
$selected-hover-col: #e62e7a;
$disabled-col: #b3b3b3;

html, body, ul, li, p {
    margin: 0;
    padding: 0;
}

html, body {    
    min-height: 100vh;
}

html {    
    font-family: "Exo 2", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

body {    
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        
    background-image: linear-gradient(to bottom, #000, rgba(0,0,0,0), #000 ), url('../img/back.png');       
}

.pseudo {
    color: $default-col;
    text-decoration: none;
    border-bottom: 1px dashed;
    cursor: pointer;
}