@font-face {
 font-family: "Exo";
 src: url("../fonts/Exo2.0-Thin.otf") format("opentype")        
}

$default-col: #1698d9;

html, body, ul, li, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    background: url('../img/back.png');    
    font-family: "Exo", Arial, Helvetica, sans-serif;
}

body {    
    z-index: -2;
    position: relative; 
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;        
    background-image: linear-gradient(to bottom, #000, rgba(0,0,0,0), #000 );   
    min-height: 100%;
}

.products {
    display: flex;
    flex-direction: column;

    &__header {
        color: #fff;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


.item {
    position: relative;
    width: 320px;
    margin: 0 40px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 5px;

    &__head {    
        position: relative;
        display: block;
        width: 275px;
        height: 45px;
        background: #fff;
        border: 4px solid;
        border-bottom: none;
        border-left: none;
        border-radius: 0 10px 0 0;
        box-sizing: border-box;    

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            left: -33px;
            border-width: 33px;
            border-style: solid;
            border-color: transparent;
            transform: rotate(45deg);
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 12px;
            left: -29px;
            border-width: 29px;
            border-style: solid;
            border-color: transparent transparent transparent #fff;
            transform: rotate(45deg);
            z-index: 1;
        }
    }

    &__body {
        position: relative;
        width: 100%;
        height: 435px;    
        border-radius: 0 0 10px 10px;
        display: flex;
        flex-direction: column;     
        border: 4px solid;
        border-top: none;
        background: #fff;
        box-sizing: border-box;
        padding-left: 40px;
        overflow: hidden;
    }

    &__title {
        font-size: 48px;
        font-weight: bold;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 17px;
    }

    &__tag, &__description {
        color: #666;
    }

    &__tag{
        margin-top: 20px;
        display: block;
    }

    &__description {
        font-size: 14px;

        > span {
            display: block;
        }
    }

    &__comment {
        color: #fff;
        font-size: 12px;
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }

    &__weight {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        bottom: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 21px;
        background: #1698d9;
        font-weight: bold;
        color: #fff;

        > span:first-child {
            font-size: 42px;
            line-height: 33px;
        }
    }

    &__image {
        position: absolute;
        bottom: -95px;
        left: -25px;
    }

    &__body, &__head,
    &--no-hover:hover &__body,
    &--no-hover:hover &__head, {
        border-color: $default-col;
    }
}

.pseudo {
    color: $default-col;
    text-decoration: none;
    border-bottom: 1px dashed;
}


.item .item__head::before,
.item.item--no-hover:hover .item__head::before {
    border-left-color: $default-col;
}
.item .item__weight,
.item.item--no-hover:hover .item__weight {
    background: $default-col;
}

.item:hover .item__body,
.item:hover .item__head {
    border-color: #2ea8e6;
}
.item:hover .item__head::before {
    border-left-color: #2ea8e6;
}
.item:hover .item__weight {
    background: #2ea8e6;
}

.item--selected .item__body,
.item--selected .item__head {
    border-color: #d91667;
}
.item--selected .item__head::before {
    border-left-color: #d91667;
}
.item--selected .item__weight {
    background: #d91667;
}

.item--selected:hover .item__body,
.item--selected:hover .item__head {
    border-color: #e62e7a;
}
.item--selected:hover .item__head::before {
    border-left-color: #e62e7a;
}
.item--selected:hover .item__weight {
    background: #e62e7a;
}

.item--disabled {
    cursor: default;
}
.item--disabled .item__body,
.item--disabled .item__head,
.item--disabled:hover .item__body,
.item--disabled:hover .item__head {
    border-color: #b3b3b3;
}
.item--disabled .item__head::before,
.item--disabled:hover .item__head::before {
    border-left-color: #b3b3b3;
}
.item--disabled .item__weight,
.item--disabled:hover .item__weight {
    background: #b3b3b3;
}

.item--disabled .item__body > *:not(.item__weight) {
    opacity: .5;
}

.item--disabled .item__comment {
    color: #ffff66;
}
